/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff8f0;
    color: #333;
    line-height: 1.6;
  }
  
  /* Títulos */
  h1, h2, h3, h4 {
    font-weight: 700;
    color: #d2691e; /* tono marrón pastel */
  }
  
  /* Navbar */
  .navbar {
    background-color: #fff3e0 !important;
  }
  
  .navbar-brand, .nav-link {
    color: #6d4c41 !important;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    color: #bf360c !important;
  }
  
  /* Secciones */
  section {
    padding: 2rem 0;
  }
  
  /* Imagenes personalizadas */
  img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Cookies estilo fondo */
  .Cookies2 {
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(18, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  }
  
  /* Footer */
  footer {
    background-color: #ebb9a9;
    color: white;
  }
  
  footer h5 {
    margin-bottom: 1rem;
    color: #fbe9e7;
  }

  footer .social-icons a:hover {
  color: #f652a4; 
  transition: color 0.3s ease;
}

  

